/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR';
    font-size: 1rem;
    letter-spacing: -0.2px;
  }
  @font-face {
    font-family: 'GabiaMaeumgyeol';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GabiaMaeumgyeol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  /* 
  #FFD4D4
#FFFFE8
#CDE990
#AACB73
 */
 :root{
  --cus-border:#889e63;
  --cus-bg:#ffffffbe;
 }
  .sheet-wrapper {
    width: 800px;
    padding: 10px 20px;
    border: 1px solid var(--cus-border);
    background-color: #f9f7ea;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  input[type=text] {
    padding: 4px;
    border: 1px solid var(--cus-border);
    background-color: var(--cus-bg);
    border-radius: 4px;
    width: 100%;
    outline: none;
  }
  input[type=number] {
    padding: 4px;
    border: 1px solid var(--cus-border);
    background-color: var(--cus-bg);
    border-radius: 4px;
    outline: none;
  }
  textarea{
    width:100%;
    border: 1px solid var(--cus-border);
    padding:4px;
    background-color: var(--cus-bg);
    border-radius: 4px;
  }

  .sheet-container_skill{
    display: flex;
    flex-direction: column;
    gap:6px;
  }
  .sheet-container_magic{
    display: flex;
    flex-direction: column;
    gap:6px;
  }
  .sheet-box_skill{
    padding:2px 4px;
    border: 1px solid #145829;
    border-radius: 8px;
    background-color: #b7c2b1;
    display: flex;
    flex-direction: column;
    gap:2px;
  }
  .sheet-box_hidden{
    margin-top: 0;
    display: none;
    /* height: 0;
    visibility: hidden; */
  }
  .sheet-visible{
    display: block !important;
  }
  select{
    padding: 2px 6px;
    border-radius: 4px;
  }
  .sheet-border {
    border-top: 4px double #8c8b8b;
    margin: 16px 0 4px;
    text-align: center;
  }
  .sheet-border:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #f9f7ea;
    color: #8c8b8b;
    font-size: 18px;
  }
  .sheet-container_title{
    margin: 6px 0;
    font-family: 'GabiaMaeumgyeol';
    font-size: 1.6rem;
    font-weight:bold;
  }

  .sheet-container_profile{
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap:6px;
  }
  .sheet-container_profile select{
    width: 100%;
    border: 1px solid var(--cus-border);
    background-color: var(--cus-bg);
    border-radius: 4px;
    outline: none;
  }
  .sheet-container_profile .sheet-container_hp{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
  }
  .sheet-hp_bar{
    margin-right: 4px;
  }

  .sheet-container_rolldice{
    width: 67%;
    margin: 0 auto 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 6px;
    border:1px solid var(--cus-border);
    border-radius: 8px;
  }
  .sheet-container_rolldice input{
    width: auto;
  }

  .sheet-container_status{
    width:92%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .sheet-status_circle{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width:140px;
    height:140px;
    background-image: url('circle.png');
    background-size:cover;
  }
  .sheet-status_circle p{
    display: inline-block;
    border:1px solid black;
    margin-top: 10px;
    padding:2px 8px;
    border-radius: 16px;
    background-color: white;
  }
  .sheet-status_circle input{
    width: 100%;
    background:none;
    border:0;
    padding: 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .sheet-chk_box_open{
    width:0;
    height: 0;
  }

  input[type=checkbox]+label{
    display: inline-block;
    margin-top:1px;
    width:28px;
    height:28px;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #667c48;
    border:1px solid #667c48;
  }

  input[type=checkbox]:checked+label{
    background-color: #ff6738;
    border:1px solid #d66d4e;
  }
  input[type=checkbox]:checked~.sheet-box_hidden{
    margin-top: 6px;
    height: auto;
    visibility: visible;
  }

  .sheet-width_full{
    width: 100%;
  }

  .sheet-namebar_skill{
    display: flex;
    gap:4px;
  }
.sheet-container_friends{
  width:60%;
}
.sheet-container_inventory{
  width:38%;

}
  .sheet-box_friends{
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap:4px;
      border: 1px solid #145829;
  border-radius: 8px;
  background-color: #b7c2b1;
  }
  .sheet-row_friends{
    display: flex;
    gap:4px;
  }
  .sheet-row_friends>*:first-child{
    width:24px;
  }
  .sheet-row_friends input[type='checkbox']{
    width: 20px;
    height: 20px;
    margin-top: 6px;
  }
  .sheet-row_friends>*:nth-child(2){
    flex-grow: 1;
  }
  .sheet-row_friends>*:last-child{
    width:80px;
  }
  .sheet-box_inventory{
    display: flex;
    flex-direction: column;
    gap:4px;
    padding: 6px;
    border: 1px solid #145829;
    border-radius: 8px;
    background-color: #b7c2b1;
  }
  .sheet-row_inventory{
    display: flex;
    gap:4px;
  }
  .sheet-row_inventory>*{
    padding: 0 4px;
  }
  .sheet-row_inventory>*:first-child{
    flex-grow: 1;
  }
  .sheet-row_inventory>*:last-child{
    width:80px;
  }